@tailwind base;
@tailwind components;
@tailwind utilities;
.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}
::-webkit-scrollbar{
  min-width: 1px;
  max-width: 10px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(216, 214, 214);
  border-radius: 50px;
}
.background-image-contact{
  background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('../public/support.jpg');
}

.button-with-border {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  overflow: hidden;
}
.bg-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://cdn.shoplightspeed.com/shops/648197/files/34557421/1652x1652x2/gift-cards-red-present.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  opacity: 0.1; /* Adjust the opacity as needed */
  z-index: -1;
  border-radius: inherit; /* Maintain border radius */
}
.button-with-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor; /* Use the button's text color */
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
}

.button-with-border:hover::after {
  transform: translateX(0);
}
.blurbg{
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.img-wrapper{
  overflow:hidden;
}
img.hover-zoom:hover {
  position: relative;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 1000;
}
img.hover-zoom {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
