@tailwind base;
@tailwind components;
@tailwind utilities;
.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}
::-webkit-scrollbar{
  min-width: 1px;
  max-width: 10px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(216, 214, 214);
  border-radius: 50px;
}